<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css" />
    <title>Lego Collection</title>
</head>
<body>
    <div class="navbar bg-base-300">
        <div class="flex-1">
          <a href="/" class="btn btn-ghost text-xl">Lego Collection</a>
        </div>
        <div class="flex-none">
          <ul class="menu menu-horizontal px-1">
            <li><a href="./about">About</a></li>
            <li>
              <details>
                <summary>
                  Theme
                </summary>
                <ul class="p-2 bg-base-100 rounded-t-none">
                  <li><a href="/lego/sets?theme=Technic">Technic</a></li>
                  <li><a href="/lego/sets?theme=Classic Town">Classic Town</a></li>
                  <li><a href="/lego/sets?theme=Supplemental">Supplemental</a></li>
              </ul>
              </details>
            </li>
          </ul>
        </div>
      </div>
    <section class="bg-white py-8">
        <div class="container mx-auto px-6 text-center">
            <h1 class="text-3xl font-bold mb-2 text-gray-800">Explore the Lego Collection</h1>
            <p class="text-gray-600 mb-8">Discover various themes and sets from our extensive Lego collection</p>
            <a href="/lego/sets" class="bg-blue-500 text-white px-4 py-2 rounded-full hover:bg-blue-700">View All Sets</a>
        </div>
    </section>
    <section class="container mx-auto px-6 py-8">
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
            <div class="card bg-white shadow-lg">
                <figure><img src="https://cdn.rebrickable.com/media/sets/001-1.jpg" alt="001-1"></figure>
                <div class="card-body">
                    <h2 class="card-title">Gears</h2>
                    <p>This set was released in America (USA/CAN) by Samsonite in 1965. It was re-released in 1969 as an educational set (322-4). It was never released in Europe.</p>
                    <a href="/lego/sets/001-1" class="btn btn-primary">View Set</a>
                </div>
            </div>
            <div class="card bg-white shadow-lg">
                <figure><img src="https://cdn.rebrickable.com/media/sets/0011-2.jpg" alt="0011-2"></figure>
                <div class="card-body">
                    <h2 class="card-title">Town Mini-Figures</h2>
                    <p>LEGO 0011-2 Town Minifigures was a 3 piece Town set with 3 minifigs released in 1979. The three minifigures included are s a male policeman, a male construction worker and female citizen.</p>
                    <a href="/lego/sets/002-1" class="btn btn-primary">View Set</a>
                </div>
            </div>
            <div class="card bg-white shadow-lg">
                <figure><img src="https://cdn.rebrickable.com/media/sets/0011-3.jpg" alt="Lego Set 0011-3"></figure>
                <div class="card-body">
                    <h2 class="card-title">Castle 2 for 1 Bonus Offer</h2>
                    <p>LEGO 0011-3 2 For 1 Bonus Offer was a 151 piece Castle set released in 1987. It was also called Castle 2 for 1 Bonus Offer and contained 2 Castle themed sets. 2 For 1 Bonus Offer consists of the following 2 sets: 6016 Knights' Arsenal.</p>
                    <a href="/lego/sets/0011-3" class="btn btn-primary">View Set</a>
                </div>
            </div>
        </div>
    </section>
</body>
</html>